@media screen and (min-width: 428px) {
   
   .section{
    width: 426px;
    margin: 0 auto;
   } 

    /* -----------BENEFITS--------*/

  

   /* -----------CUSTOMERS--------*/
   .customers-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 16px;
}
    /* -----------FOOTER--------*/
}

/* ------------------------------TABLET-------------------------*/

@media screen and (min-width: 768px) {
    .section{
        width: 796px;
    }

     /* -----------HERO--------*/

    .hero{
        background-image:
        var(--bg-gradient),
        url(../images/tablet-bg.jpg);
    }
    .hero-title{
        width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
    
    /* -----------BENEFITS--------*/
    .benefits-item{
        /* min-width: calc((100% - 24px) / 2); */
    
    }
    .benefits-list{
         /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px; */
    }

     /* -----------TEAM--------*/
     .team > .section{
        max-width: 582px;
     }
     .team-item{
        width: 264px;
        /* min-width: calc((100% - 24px) / 2); */
    }
    .team-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    /* -----------CUSTOMERS--------*/
    .customers > .section{
        max-width: 582px;
    }
    .customers-list{
        /* justify-content: center; */
        gap: 72px 24px;
    }
    .customers-list-item{
        width: 168px;
    }

    /* -----------FOOTER--------*/
    .footer > .section{
        max-width: 582px;
    }
    .flex{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        gap: 72px 24px;
    }
    .footer-logo{
        width: 264px;
        text-align: left;
    }
    .footer-media{
        text-align: left;

    }
    .footer-subscribe-text{
        text-align: left;
    }
    .footer-form{
        display: flex;
        align-items: start;
        gap: 24px;
    }
}


@media screen and (min-width: 1158px) {
    .section{
        width: 1158px;
    }

    /* -----------HERO--------*/

    .hero{
        max-width: 1440px;
        background-image:
        var(--bg-gradient),
        url(../images/people-office.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
    }
    .hero-title{
        margin-bottom: 48px;
    }

   /* -----------TEAM--------*/
   .team{
        padding-top: 120px;
        padding-bottom: 120px;
   }
   .team-item{
        min-width: calc((100% - 72px) / 4);
        margin-bottom: 0;
   }
   .team-list{
        display: flex;
        gap: 24px;
   }

   /* -----------BENEFITS--------*/
   .benefits{
        padding-top: 120px;
        padding-bottom: 120px;
   }
   .benefits-icon{
        background-color: var(--light-grey);
        border-radius: 4px;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
   }
   .benefits-list{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    .benefits-item {
        min-width: calc((100% - 72px) / 4);
    }
    .benefits-title{
        text-align: left;
    }

   /* -----------CUSTOMERS--------*/
   .customers {
        padding: 120px 0;
   }
    .customers-list {
        display: flex;
        justify-content: center;
        gap: 24px;
   }
    /* -----------FOOTER--------*/
    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .flex{
        flex-direction: row;
        align-items: start;
    }
    .footer-logo{
        margin-right: 120px;
    }
    .footer-sosial{
        margin-right: auto;
    }
    .input-subscribe{
        width: 264px; 
    }
}

@media screen and (min-width: 0px) and (max-width: 1158px) {
    .work{
        display: none;
    }
}